<div class="container">
  <h2>User Settings</h2>
  <form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <div class="form-group">
      <label for="name" placeholder="Name">Name</label>
      <input
        id="name"
        name="name"
        class="form-control"
        [(ngModel)]="userSettings.name"
        required
        #nameField="ngModel"
        [class.field-error]="form.submitted && nameField.invalid"
        (blur)="onBlur(nameField)"
      />
      <div
        [hidden]="!form.submitted || nameField.valid"
        class="alert alert-danger"
      >
        Enter a name
      </div>
    </div>

    <div class="form-check form-group">
      <label class="form-check-label" for="emailOffers"
        >Email special offers</label
      >
      <button
        class="btn btn-primary"
        type="button"
        id="emailOffers"
        name="emailOffers"
        btnCheckbox
        btnCheckboxTrue="Yes"
        btnCheckboxFalse="No"
        [(ngModel)]="userSettings.emailOffers"
      >
        {{ userSettings.emailOffers }}
      </button>
    </div>

    <h5>User interface style</h5>
    <div class="form-group">
      <label
        class="btn btn-primary"
        [(ngModel)]="userSettings.interfaceStyle"
        name="interfaceStyle"
        btnRadio="Light"
        tabindex="0"
        role="button"
        >Light</label
      >
      <label
        class="btn btn-primary"
        [(ngModel)]="userSettings.interfaceStyle"
        name="interfaceStyle"
        btnRadio="Medium"
        tabindex="0"
        role="button"
        >Medium</label
      >
      <label
        class="btn btn-primary"
        [(ngModel)]="userSettings.interfaceStyle"
        name="interfaceStyle"
        btnRadio="Dark"
        tabindex="0"
        role="button"
        >Dark</label
      >
    </div>

    <div class="form-group">
      <label for="subscriptionType">Subscription type</label>
      <div class="btn-group" dropdown>
        <button
          id="subscriptionType"
          name="subscriptionType"
          dropdownToggle
          type="button"
          class="btn btn-primary dropdown-toggle"
          aria-controls="dropdown-basic"
        >
          {{ userSettings.subscriptionType || "Choose a subscription" }}
        </button>
        <ul
          id="dropdown-basic"
          *dropdownMenu
          class="dropdown-menu"
          role="menu"
          aria-labelledby="button-basic"
        >
          <li role="menuitem" *ngFor="let type of subscriptionTypes | async">
            <a
              class="dropdown-item"
              href="#"
              (click)="onSubscriptionChange(type)"
              >{{ type }}</a
            >
          </li>
        </ul>
      </div>
    </div>

    <div class="form-group">
      <label for="notes">Notes</label>
      <textarea
        id="notes"
        name="notes"
        class="form-control"
        rows="3"
        [(ngModel)]="userSettings.notes"
      ></textarea>
    </div>

    <div class="form-group">
      <label for="startDate">Start date</label>
      <input
        type="text"
        placeholder="Datepicker"
        class="form-control"
        bsDatepicker
        [bsConfig]="{ isAnimated: true, containerClass: 'theme-dark-blue' }"
        [(ngModel)]="userSettings.startDate"
        name="startDate"
        id="startDate"
      />
    </div>

    <div class="form-group">
      <label for="rating">Rating</label>
      <rating
        [(ngModel)]="userSettings.rating"
        [max]="5"
        name="rating"
        id="rating"
      ></rating>
    </div>

    <div [hidden]="!postError" class="alert alert-danger">
      {{ postErrorMessage }}
    </div>

    <button class="btn btn-primary">Send</button>
  </form>
</div>
